<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"/>
    <title>Title</title>
</head>
<body>
これは sampleページです。
<div class="ui bulleted list">
    <div class="item" ><span th:text="${msg}">msg</span></div>
    <div class="item" ><span th:text="${customer.customerName}">customer.customerName</span></div>
</div>
<form th:action="@{complete}" th:object="${testForm}" medhod="post">
    <input type="text" th:field="*{name}" />
    <input type="submit" value="test送信"/>
</form>


</body>
</html>